/* common */

html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

/* game */

#game {
	height: 100%;
	margin: 0 auto;
}

/* dashboard */

.dashboard {
	width: 100%;
	height: 10%;
	box-sizing: border-box;
	background: #8BC34A;
	border: 4px solid #98da4e;
}

/* stage */

.stage {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	height: 90%;
	background: #c3ff80;
	box-sizing: border-box;
	padding-bottom: 0.3em;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

/* tile */

.tile {
	width: 24%;
	box-sizing: border-box;
	padding: 0.3em 0 0 0;
	z-index: 0;
}

.tile.flipped {
	z-index: 1;
}

.tile-inner {
	transform-style: preserve-3d;
	cursor: pointer;
	border-radius: 3px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.front,
.back {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0.4em;
	text-align: center;
	width: 100%;
	height: 100%;
}

.front {
	z-index: 2;
	background: #b5ec77 url(./tile-help.png) no-repeat center ;
	background-size: contain;
	backface-visibility: hidden;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.36);
	-webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.36);
	-moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.36);
}

.back {
	background: #c3ff80;
	transform: rotateY(180deg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain
}
